.search_field input[type="text"] {
  border: var(--background-box);
  background: var(--background-box);
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  color: var(--secondary-color);
}
.search_field input[type="text"]:focus {
  border: var(--background-box);
}
